  <section id="footer">
    <div class="container-fluid">
      <p>Copyright © 2021 Sirawit Mahanin - for Sitron test only</p>
      <hr>
      <p>Officia dolor occaecat amet incididunt proident aliquip tempor excepteur. Voluptate aliquip do excepteur pariatur sint adipisicing dolore pariatur cupidatat.</p>
    </div>
  </section>

  </body>
</html>