<section id="navbar">

  <!-- //////////////// Version 1 -->

  <!-- <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/movies">moviesDB</a>
      <form action="#" method="#" class="staff-login">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12">
            <a><i class="fas fa-sign-in-alt"></i> Staff Login</a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <input type="text" placeholder="Username" name="username" required />
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <input type="password" placeholder="Password" name="password" required />
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <button class="btn btn-primary btn-sm" type="submit">Login</button>
          </div>
        </div>
      </form>
    </div>
  </nav> -->

  <!-- //////////////// Version 2 hamberger -->

  <nav class="navbar navbar-expand-lg navbar-light nav-adjust">
    <a class="navbar-brand mr-auto" href="#"> moviesDB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav ml-auto">
        <form action="#" method="#">
          <span style="margin-right:10px;"><i class="fas fa-sign-in-alt""></i> Staff Login</span>
          <li class="login-box"><input type="text" placeholder="Username" name="username" required /></li>
          <li class="login-box"><input type="password" placeholder="Password" name="password" required /></li>
          <li class="login-box"><button class="btn btn-primary btn-sm" type="submit">Login</button></li>
        </form>
      </ul>
    </div>
  </nav>
</section>